.footer-circle {
  position: relative;
  z-index: 10;
}

.footer-container-text {
  background-image:
    linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)),
    url("../../assets/mobile/image-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -1.75rem;
  padding: var(--spacing-800) var(--spacing-400);
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-300);
}

.footer-info h2 {
  font-weight: var(--font-weight-black);
  font-size: var(--mobile-text-preset-2);
  line-height: 1.1;
  color: var(--color-white);
}

.footer-info p {
  font-weight: var(--font-weight-medium);
  font-size: var(--desktop-text-preset-3);
  line-height: 1.5;
  color: var(--color-white);
}

/* RESPONSIVIDADE (TABLET) */
@media (min-width: 768px) {
  .footer-container-text {
    background-image:
      linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)),
      url("../../assets/tablet/image-footer.jpg");
  }

  .footer-info {
    max-width: 504px;
    margin-inline: auto;
  }

  .footer-info h2 {
    font-size: var(--tablet-text-preset-2);
  }
}

/* RESPONSIVIDADE (DESKTOP) */
@media (min-width: 1200px) {
  .footer-container-text {
    background-image:
      linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)),
      url("../../assets/desktop/image-footer.jpg");
    padding: var(--spacing-1400) var(--spacing-1000);
  }

  .footer-info {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1120px;
    margin-inline: auto;
    gap: var(--spacing-400);
  }

  .footer-info h2 {
    font-size: var(--desktop-text-preset-2);
    text-align: left;
    max-width: 22rem;
  }

  .footer-info p {
    font-size: var(--desktop-text-preset-4);
    text-align: left;
    max-width: 22.125rem;
    margin: 0;
  }

  .footer-info .btn {
    flex-shrink: 0;
  }
}
